@import "sass/materialize.scss";

html {
  min-height: 100%;
}
.container {
  margin-top: 15%;
  padding: 10px;
  max-width: 600px;
  background-color: burlywood;
  border-radius: 10px;
}
.btn {
  margin: 5px;
  font-size: 10px;
  @extend .indigo, .lighten-1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title {
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
}

#text {
  font-size: 25px;
  margin: 20px;
  font-style: italic;
}

#author {
  font-size: 30px;
  margin: 20px;
  font-style: oblique;
}
